<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="css">
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    h1 {
      text-align: center;
      color: blue;
    }
    table {
        width: 100%;
    }
    .edit {
        border-radius: 25%;
        background-color: blue;
        color: white;
    }
    .delete {
        border-radius: 25%;
        background-color: red;
        color: white;
    }
  </style>
</head>
<body>

</body>
</html>