<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/student/layout ::css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="the_h1">=================== Quản lý sinh viên lớp JV10 ======================</h1>
<a th:href="@{/student/create}">Create Student</a>
<table border="1">
    <tr>
        <th>STT</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>AGE</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="st:${listStudent}">
        <td th:text="${st.id}"></td>
        <td>
            <a th:text="${st.name}" th:href="@{/student/{id}/(id=${st.id})}"></a>
        </td>
        <td th:text="${st.address}"></td>
        <td th:text="${st.age}"></td>
        <td>
            <a th:href="@{/student/edit/{id}/(id=${st.id})}">
            <button class="edit">
                edit
            </button>
            </a>
        </td>
        <td>
            <a th:href="@{/student/delete/{id}/(id=${st.id})}">
            <button class="delete">
                Delete
            </button>
            </a>
        </td>
    </tr>
</table>

</body>
</html>